.gamespace {
    height: 400px;
    width: 200px;
    position: relative;
    left:7%;
    margin-top: 40px;
}
.data {
    display: flex;
    font-size: 40px;
    margin-left: 10%;
}
.data .life{
    flex: 0.5;
    display: flex;
}
.data .tired{
    flex: 0.5;
    display: flex;
}

.close{
    border-radius: 30px;
    margin: 10px;
}
.inst{
    font-size: 20px;
    margin-left: 50px;
    height: 380px;
    width: 80%;
    background-color: rgba(74, 74, 74, 0.281);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(85, 85, 85);
}
.inst p{
    margin: 10px;
    text-align: center;
    color: rgb(4, 67, 10);
}
.item p{
    margin: 10px;
    text-align: center;
    color: rgb(4, 67, 10);
}

.gamespace .otpt {
    font-family: "Courier New", Courier, monospace;
    /* 使用等宽字体 */
    font-size: 29px;
    /* 设置字符大小，也是字符的高度 */
    line-height: 17px;
    /* 设置行高等于字符高度 */
}
.main{
    display: flex;
    margin-right: 50px;
}
.main .inst{
    flex:0.5;
}
.main .item{
    flex: 0.5;
}
.item{
    font-size: 20px;
    margin-left: 10%;
    height: 380px;
    width: 80%;
    background-color: rgba(74, 74, 74, 0.281);
    border-radius: 20px;
    margin-left: 30px!important;
    box-shadow: 0 0 10px rgb(85, 85, 85);
}
.contr {
    display: flex;
    position: fixed;
    bottom: 5px;
    width: 93%;
    height: 100px;
    margin: 40px;
    border-radius: 20px;
    box-shadow: 0 0 20px rgb(70, 70, 70);
    opacity: 0.5;
    backdrop-filter: blur(20px);
    background-color: rgba(65, 65, 65, 0.267);
}

.contr .btn1 {
    flex: 0.2;
    margin: 20px;
    background-color: rgb(75, 75, 75);
    border-radius: 20px;
}

.contr .ipt1 {
    flex: 0.8;
    margin: 20px;
    background-color: rgb(165, 165, 165);
    opacity: 0.6;
    font-size: 40px;
    border-radius: 20px;
}